
@{
    ViewBag.Title = "ArmchairFor";
}

<div class="col-md-12">
    <div class="col-md-3">
        <div class="job-sider-bar">
            <h5 class="side-tittle"> </h5>
            <!-- Recent Reviews -->

            <div class="items-side-bar">
                <ul>
                    <li>
                        <h6 class="head"><a data-toggle="collapse" href="#Stories" aria-expanded="false"><i class="fa fa-comments-o"></i> Stories</a></h6>
                        <div class="collapse" id="Stories">
                            <div class="well">

                            </div>
                        </div>
                    </li>
                    <li>
                        <h6 class="head"><a data-toggle="collapse" href="#Stories" aria-expanded="false"><i class="fa fa-comments-o"></i> Stories</a></h6>
                        <div class="collapse" id="Stories">
                            <div class="well">

                            </div>
                        </div>
                    </li>
                    <li>
                        <h6 class="head"><a data-toggle="collapse" href="#Stories" aria-expanded="false"><i class="fa fa-comments-o"></i> Stories</a></h6>
                        <div class="collapse" id="Stories">
                            <div class="well">

                            </div>
                        </div>
                    </li>
                    <li>
                        <h6 class="head"><a data-toggle="collapse" href="#Stories" aria-expanded="false"><i class="fa fa-comments-o"></i> Stories</a></h6>
                        <div class="collapse" id="Stories">
                            <div class="well">

                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="products col-md-9">

        <div class="col-sm-4">
            <article>
                <div class="item-img">

                    <img src="~/images/product/cornerSofa/1.jpg" />
                </div>
                <a href="#." class="tittle">Köşe Takımı 1</a>

            </article>
        </div>
        <div class="col-sm-4">
            <article>
                <div class="item-img">

                    <img src="~/images/product/cornerSofa/2.jpg" />
                </div>
                <a href="#." class="tittle">Köşe Takımı 1</a>

            </article>
        </div>
        <div class="col-sm-4">
            <article>
                <div class="item-img">

                    <img src="~/images/product/cornerSofa/3.jpg" />
                </div>
                <a href="#." class="tittle">Köşe Takımı 1</a>

            </article>
        </div>
        <div class="col-sm-4">
            <article>
                <div class="item-img">

                    <img src="~/images/product/cornerSofa/4.jpg" />
                </div>
                <a href="#." class="tittle">Köşe Takımı 1</a>

            </article>
        </div>
        <div class="col-sm-4">
            <article>
                <div class="item-img">

                    <img src="~/images/product/cornerSofa/5.jpg" />
                </div>
                <a href="#." class="tittle">Köşe Takımı 1</a>

            </article>
        </div>
        <div class="col-sm-4">
            <article>
                <div class="item-img">

                    <img src="~/images/product/cornerSofa/6.jpg" />
                </div>
                <a href="#." class="tittle">Köşe Takımı 1</a>

            </article>
        </div>
        <div class="col-sm-4">
            <article>
                <div class="item-img">

                    <img src="~/images/product/cornerSofa/7.jpg" />
                </div>
                <a href="#." class="tittle">Köşe Takımı 1</a>

            </article>
        </div>



    </div>

</div>

