
@{
    ViewBag.Title = "ArmchairFor";
}

<div class="col-md-12">
    <div class="row">

        <!-- Grid Layout -->

        <div class="col-md-6">
            <p>Showing 1–12 of 23 result</p>
        </div>
        <div class="col-md-6">
            <div class="short-by">
                <label>
                    <select class="selectpicker">
                        <option>Default Sorting</option>
                        <option>-Sort by-</option>
                        <option>-Sort by-</option>
                    </select>
                </label>
            </div>
        </div>
    </div>

    <!-- Products -->
    <div class="products margin-top-30">
        <div class="row">
            <!-- Item -->
            <div class="col-sm-4">
                <article>
                    <div class="item-img"> <img src="images/item-img-1.jpg" alt=""> </div>
                    <a href="#." class="tittle">Wish You Were Here</a>
                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </div>
                    <span>$18.00</span> <a href="#." class="btn btn-1 btn-sm margin-top-10">add to cart<i class="fa fa-caret-right"></i></a>
                </article>
            </div>
            <!-- Item -->
            <div class="col-sm-4">
                <article>
                    <div class="item-img"> <img src="images/item-img-2.jpg" alt=""> </div>
                    <a href="#." class="tittle">Wish You Were Here</a>
                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </div>
                    <span>$18.00</span> <a href="#." class="btn btn-1 btn-sm margin-top-10">add to cart<i class="fa fa-caret-right"></i></a>
                </article>
            </div>

            <!-- Item -->
            <div class="col-sm-4">
                <article>
                    <div class="item-img"> <img src="images/item-img-3.jpg" alt=""> </div>
                    <a href="#." class="tittle">Wish You Were Here</a>
                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </div>
                    <span>$18.00</span> <a href="#." class="btn btn-1 btn-sm margin-top-10">add to cart<i class="fa fa-caret-right"></i></a>
                </article>
            </div>

            <!-- Item -->
            <div class="col-sm-4">
                <article>
                    <div class="item-img"> <img src="images/item-img-4.jpg" alt=""> </div>
                    <a href="#." class="tittle">Wish You Were Here</a>
                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </div>
                    <span>$18.00</span> <a href="#." class="btn btn-1 btn-sm margin-top-10">add to cart<i class="fa fa-caret-right"></i></a>
                </article>
            </div>

            <!-- Item -->
            <div class="col-sm-4">
                <article>
                    <div class="item-img"> <img src="images/item-img-5.jpg" alt=""> </div>
                    <a href="#." class="tittle">Wish You Were Here</a>
                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </div>
                    <span>$18.00</span> <a href="#." class="btn btn-1 btn-sm margin-top-10">add to cart<i class="fa fa-caret-right"></i></a>
                </article>
            </div>

            <!-- Item -->
            <div class="col-sm-4">
                <article>
                    <div class="item-img"> <img src="images/item-img-6.jpg" alt=""> </div>
                    <a href="#." class="tittle">Wish You Were Here</a>
                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </div>
                    <span>$18.00</span> <a href="#." class="btn btn-1 btn-sm margin-top-10">add to cart<i class="fa fa-caret-right"></i></a>
                </article>
            </div>

            <!-- Item -->
            <div class="col-sm-4">
                <article>
                    <div class="item-img"> <img src="images/item-img-7.jpg" alt=""> </div>
                    <a href="#." class="tittle">Wish You Were Here</a>
                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </div>
                    <span>$18.00</span> <a href="#." class="btn btn-1 btn-sm margin-top-10">add to cart<i class="fa fa-caret-right"></i></a>
                </article>
            </div>

            <!-- Item -->
            <div class="col-sm-4">
                <article>
                    <div class="item-img"> <img src="images/item-img-8.jpg" alt=""> </div>
                    <a href="#." class="tittle">Wish You Were Here</a>
                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </div>
                    <span>$18.00</span> <a href="#." class="btn btn-1 btn-sm margin-top-10">add to cart<i class="fa fa-caret-right"></i></a>
                </article>
            </div>

            <!-- Item -->
            <div class="col-sm-4">
                <article>
                    <div class="item-img"> <img src="images/item-img-9.jpg" alt=""> </div>
                    <a href="#." class="tittle">Wish You Were Here</a>
                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </div>
                    <span>$18.00</span> <a href="#." class="btn btn-1 btn-sm margin-top-10">add to cart<i class="fa fa-caret-right"></i></a>
                </article>
            </div>

            <!-- Item -->
            <div class="col-sm-4">
                <article>
                    <div class="item-img"> <img src="images/item-img-10.jpg" alt=""> </div>
                    <a href="#." class="tittle">Wish You Were Here</a>
                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </div>
                    <span>$18.00</span> <a href="#." class="btn btn-1 btn-sm margin-top-10">add to cart<i class="fa fa-caret-right"></i></a>
                </article>
            </div>

            <!-- Item -->
            <div class="col-sm-4">
                <article>
                    <div class="item-img"> <img src="images/item-img-11.jpg" alt=""> </div>
                    <a href="#." class="tittle">Wish You Were Here</a>
                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </div>
                    <span>$18.00</span> <a href="#." class="btn btn-1 btn-sm margin-top-10">add to cart<i class="fa fa-caret-right"></i></a>
                </article>
            </div>

            <!-- Item -->
            <div class="col-sm-4">
                <article>
                    <div class="item-img"> <img src="images/item-img-12.jpg" alt=""> </div>
                    <a href="#." class="tittle">Wish You Were Here</a>
                    <div class="stars"> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star-half-empty"></i> </div>
                    <span>$18.00</span> <a href="#." class="btn btn-1 btn-sm margin-top-10">add to cart<i class="fa fa-caret-right"></i></a>
                </article>
            </div>
        </div>

        <!-- Paginaton -->
        <ul class="pagination pull-right">
            <li><a href="#."><i class="fa fa-angle-left"></i></a></li>
            <li><a href="#.">1</a></li>
            <li><a class="current" href="#.">2</a></li>
            <li><a href="#.">3</a></li>
            <li><a href="#.">4</a></li>
            <li><a href="#."><i class="fa fa-angle-right"></i></a></li>
        </ul>
    </div>
</div>

