
@{
    ViewBag.Title = "Modef";
}

<!-- SUB BANNER -->
<section class="sub-bnr" style="background:url(images/bg/sub-bnr-bg-3.jpg) no-repeat;" data-stellar-background-ratio="0.5">
    <div class="position-center-center">
        <div class="container">
            <h1>company presentation</h1>
            <!-- Breadcrumbs -->
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">company presentation</li>
            </ol>
        </div>
    </div>
</section>

<!-- Content -->
<div id="content">

    <!-- Company Presentation -->
    <section class="presentation padding-top-70 padding-bottom-70">
        <div class="container">

            <!-- Heading -->
            <div class="heading text-center">
                <span>january 2, 2015</span>
                <h4>Culture Code: Creating A Lovable Company</h4>
                <p>Donec venenatis, turpis vel hendrerit interdum, dui ligula ultricies purus, sed posuere libero dui id orci. Nam congue, pede vitae dapibus aliquet interdum dui ligula ultricies purus, sed posuere. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ea, nihil, dolores, culpa ullam vero ipsum placeat accusamus nemo ipsa cupiditate id molestiae consectetur quae pariatur repudiandae vel ex quaerat nam iusto aliquid laborum quia adipisci aut ut impedit obcaecati nisi deleniti tempore maxime. </p>
            </div>
            <div class="single-slide">
                <div class="item"> <img class="img-responsive" src="images/pre-img-1.jpg" alt=""> </div>
                <div class="item"> <img class="img-responsive" src="images/pre-img-4.jpg" alt=""> </div>
                <div class="item"> <img class="img-responsive" src="images/pre-img-3.jpg" alt=""> </div>
            </div>
        </div>
    </section>
</div>


